@tailwind base;
@tailwind components;
@tailwind utilities;

/* .swal2-popup {
  width: 30%; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
} */

.Toastify__toast-body > div:last-child {
  width: 235px !important;
}

.ant-modal-footer > button {
  display: none;
}
