@tailwind base;
@tailwind components;
@tailwind utilities;

/* .swal2-popup {
  width: 30%; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
} */

.Toastify__toast-body > div:last-child {
  width: 235px !important;
}

.ant-modal-footer > button {
  display: none;
}

.ant-form-item-required {
  margin-top: 0;
  margin-left: 10px;
}

.ant-form-explain {
  color: red;
}
.css-dev-only-do-not-override-xu9wm8 > label {
  margin: 0;
}
